<!DOCTYPE html>
<html lang="eng">

<head>
    <link rel="stylesheet" href="style.css">
</head>   
<body>
    <div class="uploaded-msg">
        <h1>Image Has Been Uploaded!</h1>
        <p>You can now go back to the previous page to see it displayed!</p>
    </div>
</body>